<web-app>
	<servlet>
		<servlet-name>AhorcadoServlet</servlet-name>
		<servlet-class>AhorcadoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AhorcadoServlet</servlet-name>
		<url-pattern>AhorcadoServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AgregararchivoServlet</servlet-name>
		<servlet-class>AgregararchivoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AgregararchivoServlet</servlet-name>
		<url-pattern>AgregararchivoServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>LoginServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>IndexUsuarioServlet</servlet-name>
		<servlet-class>IndexUsuarioServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IndexUsuarioServlet</servlet-name>
		<url-pattern>IndexUsuarioServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>RegistroServlet</servlet-name>
		<servlet-class>RegistroServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegistroServlet</servlet-name>
		<url-pattern>RegistroServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>TerminarServlet</servlet-name>
		<servlet-class>TerminarServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TerminarServlet</servlet-name>
		<url-pattern>TerminarServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>LogoffServlet</servlet-name>
		<servlet-class>LogoffServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoffServlet</servlet-name>
		<url-pattern>LogoffServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>TablapuntageServet</servlet-name>
		<servlet-class>TablapuntageServet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TablapuntageServet</servlet-name>
		<url-pattern>TablapuntageServet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>EditarServlet</servlet-name>
		<servlet-class>EditarServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditarServlet</servlet-name>
		<url-pattern>EditarServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ReemplazarServlet</servlet-name>
		<servlet-class>ReemplazarServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReemplazarServlet</servlet-name>
		<url-pattern>ReemplazarServlet</url-pattern>
	</servlet-mapping>
</web-app>